html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 60px;
  padding-top: 75px;
}

h2 {
  margin-bottom: 30px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.headshot {
  padding-top: 20px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .headshot {
    max-width: 540px;
  }
  .ddtiming_output {
    max-width: 500px;
  }
  .ddtiming_graph {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  .headshot {
    max-width: 580px;
  }
  .ddtiming_output {
    max-width: 440px;
  }
  .ddtiming_graph {
    max-width: 580px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .headshot {
    max-width: 720px;
  }
  .ddtiming_output {
    max-width: 500px;
  }
  .ddtiming_graph {
    max-width: 720px;
  }
}

.content {
  padding-top: 25px;
  padding-bottom: 40px;
}

.nodots {
  list-style-type: none;
}

.icon {
  padding-right: 7px;
  padding-left: 7px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

code {
  font-family: 'Roboto Mono', 'Courier', monospace;
}

.stata_command {
  color: #008;
}

.stata_options {
  color: #606;
}
